.Tables{
    color: hsla(300, 50% ,50%, 1);
    table{
        border: 2px solid hsla(200, 50% ,50%, 1);
        tr{
            .headTable{
                height: 40px;
                padding: 10px;
                border: 2px solid hsla(100, 70% ,30%, 1);
                background: hsla(150, 70% ,50%, 0.2);
                .checkSortTable{
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-left: 10px;

                    background: hsla(150, 70% ,30%, 1);
                }

                &:hover{
                    background: hsla(150, 90% ,40%, 0.3);
                }
                .checkSortTableUp{
                    border-radius: 0 0 10px 0;
                    transform: rotate(45deg);
                }
                .checkSortTableDown{
                    border-radius: 10px 0 0 0;
                    transform: rotate(45deg);
                }
            }
            td{
                border: 1px solid hsla(100, 50% ,50%, 1);
            }
        }
    }
}