.Buttons{
    .SimpleButton{
        &:hover{
            filter: invert(0);
        }
        &:active{
            filter: invert(1);
        }
    }
    .SelectButtonDiv{
        width: 300px;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }
}