.SelectButtonWrapper{
    position: absolute;

    display: flex;
    flex-direction: column;

    border: 2px solid hsla(var(--ButtonsColor), 75%, 35%, 0.6) ;
    border-radius: 15px;

    overflow: hidden;
    .SelectButton{
        width: 200px;
        border-radius: 10px 10px 0 0;
        border: 0;
        margin: 0;
    }
    .SelectedButton{
        width: 200px;
        border-radius: 0;
        border: 0;
        margin: 0;
    }
    hr{
        margin:0;
        border: 1px solid hsla(var(--ButtonsColor), 75%, 25%, 0.6) ;
    }
}