:root{
    --LayoutColor: 54;

    --ButtonsColor: 220;

    --Popup: 60;
    --ConfurmPopup: 180;

    --TableHead: 54;
    --TableBody: 100;
    --TableCheckSortUp: 20;
    --TableCheckSortDown: 200;

    --svgLineHeader: 50;
}
